<div class="history">
	<div class="words">
		<img src="squiggle3.png">
		<h2 id="new">Our History</h2>
		<p>NYC Croissant was established in 1986.</p>
		<p>The first NYC Baguette opened in 1986.</p>
		<p>We opened our 100th store in 1992</p>
		<p>Certified as the No. 1 brand power of Korean Industries.</p>
		<p>NYC Baguette entered the U.S. market in 2005.</p>
		<p>Our 1,800th store opened in 2008.</p>
		<p>Our latest storefront opened just this month in the Financial District.</p>
		<div class="rp">
			<img src="rollingpin.png" id="dude1">
		</div>
		<img src="squiggle3.png">
	</div>
</div>
