	<div id="container2">
		<div id="contact3">
			<img src="squiggle3.png">
		</div>
		<p id="center2">General Inquiry:</p>
		<p>Please fill in the form below and submit your message.</p>	
		<div id='contact-box' class="group">
			<div class="span6 clear">
				<form action="/contact" method="POST" class="well">
					<label for="name">Your Name:</label>
					<input type="text" name="name" class="span4" placeholder="Name">
					<label for="email">Your email address:</label>
					<input type="text" name="email" class="span4" placeholder="email@example.com">
					<label for="to">Your message:</label>
					<textarea name="message" cols='64' rows="10" placeholder="Send us a message"></textarea><br>
					<button type="submit" class="btn" value="Send">Submit</button>
				</form>
			</div>
		</div>
	</div>