	<div class="bread"><img src="bread.png"/></div>
	<div class="box">
		<p class="text">We are a company that provides a unique experience to customers by introducing a new trend-setting bakery and cafe.</p>
		<p class="text">We continuously refine our philosophy and techniques in the kitchen thanks to our parent company, Paris Baguette.</p>
		<p class="text">Please join us in our journey as we innovate and introduce fresh concepts to create a brand new, unique experience for all of our customers.</p>
		<p class="text">Let's take our next step together.</p>
		<div class="squiggle">
		<img src="squiggle3.png"></div>
	</div>	