<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYC_Baguette</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<ul>
		<li><a href="/">HOME</a></li>
		<li><a href="/products">PRODUCTS</a></li>
		<li><a href="/about">ABOUT</a></li>
		<li><a href="/contact">CONTACT</a></li>
	</ul>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
	<script src="main.js"></script>
	<%= yield %>
</body>
</html>