<div id="container">
	<div class="outerLightBox">
		<div class="innerLightBox">
		<button id="close">X</button>
			<img src="" id="image1">
			<p id="text1"></p>
		</div>
	</div>
	<div id="contact3">
		<img src="squiggle3.png">
	</div>
	<p id="center2">Our Products</p>
	<p id="center1">Here are some of our delicious products. Click on the images for a bigger view</p>
	<div class="pastry1">
		<img src="1.png" class="pastry3">
		<p class="text1">Mini Croissant</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="2.png" class="pastry3">
		<p class="text1">Raspberry Cream Cheese</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="3.png" class="pastry3">
		<p class="text1">Strawberry Pastry</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="4.png" class="pastry3">
		<p class="text1">Fruit Pastry</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="5.png" class="pastry3">
		<p class="text1">Fruit Pastry Bite</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="6.png" class="pastry3">
		<p class="text1">Danish Cream Cheese</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="7.png" class="pastry3">
		<p class="text1">Strawberry Soft Cake</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="8.png" class="pastry3">
		<p class="text1">Sweet Potato Soft Cake</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="9.png" class="pastry3">
		<p class="text1">Honey Bon Delicieux</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="10.png" class="pastry3">
		<p class="text1">Green Tea Bon Delicieux</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="11.png" class="pastry3">
		<p class="text1">Tangerine Roll Cake</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
	<div class="pastry1">
		<img src="12.png" class="pastry3">
		<p class="text1">Walnut Roll Cake</p>
		<div class="pastry3">
			<img src="13.png" class="pastry4">
		</div>
	</div>
</div>